<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height: 300px; padding-bottom: 50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h4>Deborah Kurata</h4>
      </div>
      <div class="text-center">Updates by:</div>
      <div class="text-center">
        <h5>Ken Larson</h5>
      </div>
    </div>
  </div>
</div>
